{% extends 'base.html.twig' %}

{% block title %}
    Internetowa wypożyczalnia
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <h1 align="center">Dostępne książki</h1>
    {% if data is defined and data|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_title'|trans }}</th>
                <th>{{ 'label_tags'|trans }}</th>
                <th scope="col">
                    {{ 'label_actions'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            <section style="text-align: right">
                <a class="przycisk" href="#">Zaloguj się  </a>
                <a class="przycisk2" href="#">Utwórz konto</a>
            </section>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.tags|join(', ') }}</td>
                    <td>
                        <a href="{{ url('record_show', {id: item.id}) }}" title="Szczegóły">
                            Szczegóły
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Empty list.
        </p>
    {% endif %}
{% endblock  %}