{% extends 'base.html.twig' %}

{% block title %}
    Podgląd
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block body %}
    <h1 align="center">Szczegóły</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>Tytuł</dt>
            <dd>{{ item.title }}</dd>
            <dt>Opis</dt>
            <dd>{{ item.content }}</dd>
            <dt>Tagi</dt>
            <dd>{{ item.tags|join(', ') }}</dd>
        </dl>
    {% else %}
        <p>
            Record not found.
        </p>
    {% endif %}
    <p>
        <a href="{{ url('record_index') }}" title="Powrót">
            Powrót
        </a>
    </p>
{% endblock %}