{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category'|trans }}
{% endblock %}

{% block body %}
      <div class="topnav">
        <a href="{{ url('category_create') }}" title="{{ 'action_create'|trans }}">
            {{ 'action_create'|trans }}
        </a>

        <a href="{{ url('book_index') }}" title="{{ 'books'|trans }}">
            {{ 'books'|trans }}
        </a>
              <div>
                  <a href="{{ url('reservation_user') }}" >{{ 'myreser'|trans }}</a>
              </div>
          {% if is_granted('ROLE_ADMIN') %}

              <div>
                  <a href="{{ url('reservation_index') }}">{{ 'reservations'|trans }}</a>
              </div>
          {% endif %}
          <div>
              <a href="{{ url('user_show') }}" >{{ 'account'|trans }}</a>
          </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div>
                <a href="{{ url('user_index') }}" >{{ 'user'|trans }}</a>
            </div>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <div>
                <a href="{{ url('app_logout') }}">{{ 'logout'|trans }}</a>
            </div>
        {% else %}
            <div>
                <a href="{{ url('app_login') }}">{{ 'login'|trans }}</a>
            </div>
        {% endif %}

    </div>

       {% if pagination is defined and pagination.items|length %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'category.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_actions'|trans, 'category.actions') }}</th>
            </tr>
            </thead>
            <tbody>

            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.createdAt|format_date('long') }} </td>
                    <td>{{ category.updatedAt|format_date('long') }} </td>
                    <td>{{ category.title }}</td>

                    <td>

                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>

                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                        {% if not category.books|length %}
                            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div>Witaj {{ app.user.email }}</div>
    {% endif %}
{% endblock %}