{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_list'|trans }}
{% endblock %}

{% block body %}

    <div class="topnav">

        {% if is_granted('ROLE_ADMIN') %}

            <div>
                <a href="{{ url('book_create') }}">{{ 'book_new'|trans }}</a>
            </div>
        {% else %}
            <div>
                <a href="{{ url('book_index') }}">{{ 'books'|trans }}</a>
            </div>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <div>
                <a href="{{ url('category_index') }}">{{ 'category_list'|trans }}</a>
            </div>
        {% else %}
            <div>
                <a href="{{ url('app_login') }}">{{ 'category_list'|trans }}</a>
            </div>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <div>
                <a href="{{ url('app_logout') }}">{{ 'logout'|trans }}</a>
            </div>
        {% else %}
            <div>
                <a href="{{ url('app_login') }}">{{ 'login'|trans }}</a>
            </div>
        {% endif %}
        <a href="{{ url('registration') }}" title="{{ 'register'|trans }}">
            {{ 'register'|trans }}
        </a>
    </div>

    {% if pagination is defined and pagination.items|length %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'book.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'book.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'book.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'book.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}</th>
                <th class="napis">{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for book in pagination.items %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.createdAt|format_date('long') }} </td>
                    <td>{{ book.updatedAt|format_date('long') }} </td>
                    <td>{{ book.title }}</td>
                    <td><a href="{{ url('book_index', {'filters_category_id' : book.category.id}) }}" title="{{ book.category.title }}">
                            {{ book.category.title }}
                        </a> </td>
                    <td>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <a href="{{ url('book_show', {id: book.id }) }}">{{ 'action_view'|trans }}</a>

                        {% else %}
                                <a href="{{ url('app_login') }}">{{ 'action_view'|trans }}</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('book_edit', {id: book.id}) }}">{{ 'action_edit'|trans }}</a>
                        {% else %}
                            <a href="{{ url('book_index') }}">{{ 'action_edit'|trans }}</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('book_delete', {id: book.id}) }}">{{ 'action_delete'|trans }}</a>
                        {% else %}
                            <a href="{{ url('book_index') }}">{{ 'action_delete'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div>Witaj {{ app.user.email }}</div>
    {% endif %}
{% endblock %}